<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %highlight{[%t] [%level] %d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n}{INFO=green, WARN=yellow, ERROR=red}
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
